[2019-09-27 16:16] tailaiw opened #1 "Let's use type hints!"
We like to start using type hints for better practice of python programming. For a first-time contributor, this is probably a nice starting point, as you will go through every part of the code base and familiarize yourself with the code structure.

To-do's:

- [ ] Add type hints to all functions.
- [ ] Modify docstrings accordingly, so sphinx-autodoc will automatically grab type info from type hin

[2019-10-10 13:54] marktibbetts opened #2 "Support for Python 3.5 to allow deployment on GCP ML Engine runtime version 1.14"
Would like to use ADTK with GCP ML Engine but their current runtime framework (1.14) only supports Python 3.5. ADTK specifies Python >=3.6, so what are the options for making compatible with Python 3.5 or do we need to wait until GCP ML Engine runtime supports Python 3.6?

[2019-10-10 16:24] tailaiw commented on #2
@marktibbetts thanks for raising this up. We were not aware of the mentioned limitation of Google Cloud Platform ML Engine. This is definitely a strong reason to consider a Python 3.5 support of ADTK.

There are two known issues to deal with if we want to make it Python 3.5 compatible:

1. `dict` objects are insertion ordered since Python 3.6. Some features of ADTK requires `dict` objects to be in

[2019-11-18 14:38] jason-hu7 commented on #1
I will work on this issue.

[2019-11-18 15:23] tailaiw commented on #2
Issue resolved by #4

[2019-11-18 15:23] #2 closed

[2019-11-18 15:27] tailaiw opened #7 "Increase test coverage"
The current coverage is 75%, which is low and needs to increase.

[2019-11-20 05:13] robmarkcole opened #9 "Quickstart lacks info on required data files"
Hi
in the [quickstart guide](https://arundo-adtk.readthedocs-hosted.com/en/latest/quickstart.html) you point ot the nyc taxi dataset on the [Numenta Anomaly Benchmark](https://github.com/numenta/NAB) but do not provide the links to the files required (or transformations to generat them). I have located `training.csv` as `NAB/data/realKnownCause/nyc_taxi.csv` but have not located `known_anomalies.c

[2019-11-20 18:11] tailaiw commented on #9
We hand-labeled the time series by eyeballing the data, just for a quick demo purpose.

[2019-11-22 12:33] #9 closed

[2019-11-25 19:00] yy910616 opened #13 "STLDecomposition Implementation"
Hello,
First of all thank you for open sourcing the package; it is excellently written.

One potential issue I've noticed: the STL Decomposition seems to be implemented using a rolling window method for detrending data, not the Loess method. Here is a code snippet from [transformer_1d.py](https://github.com/arundo/adtk/blob/master/src/adtk/transformer/transformer_1d.py#L968):
[code]
Perhaps I'm mi

[2019-11-27 15:16] pushkarjain opened #14 "Ability to add custom steps pipenet"
Using built-in features for pipes is great. But it would be helpful to have an ability to insert a custom step/node in the workflow. For instance, if I want to add another pre-processing step after `abs_residual`, then I need to start from scratch.
<img width="1475" alt="adtk_issues" src="https://user-images.githubusercontent.com/41306045/69735625-9bcb1b80-10f6-11ea-996d-55bb9434fb68.png">

[2019-11-27 15:18] pushkarjain opened #15 "Request for better summarization of pipenet steps"
The pipe summary is a list of dictionaries. The entities in the list do not necessarily represent the order of connections and hence It can be challenging to navigate through the list. The visualization is certainly very helpful in that regards.

However, it would be better to use keras like `model.summary`.
<img width="1475" alt="adtk_issues" src="https://user-images.githubusercontent.com/4130604

[2019-11-27 15:42] pushkarjain opened #16 "Request for a better form of pipenet step (dict instead of list)"
The pipenet steps return a list of dictionaries with the key-value pairs indicating the start, end and the method/model used.  That means that to edit any particular step in the pipeline, one has to use index of the list to query the step and then modify it.

One possible solution can be is to use the `name` as the `key`, and the values can be a dictionary with keys 'model' and 'input'. It might b

[2019-12-01 14:04] tailaiw commented on #13
@yy910616 Thank you for raising the issue and sorry for the late response (we were on holiday these days in US). I will look into this issue this week and get back to you.

[2019-12-01 14:09] tailaiw commented on #15
@pushkarjain Thanks for the suggestion. Our current design is to use `plot_flowchart()` to visualize/summarize a pipenet/pipeline object. However, I do agree with you a summary in text/tabular form like the model summary in Keras could be useful in some circumstances. We will add it into the roadmap of next release.

[2019-12-01 14:12] tailaiw commented on #16
@pushkarjain Thanks for raising this issue. With a second thought, I agree with you that **list** is not a good choice of the `steps` attribute of pipenet class, because the indices do not have an intuitive meaning. Your suggestion, a **dict** with "name" as keys is a more intuitive data structure, in particularly convenient for querying nodes. We will add this to our roadmap of the next release.

[2019-12-01 14:53] tailaiw commented on #14
@pushkarjain Thanks for the request for the new feature. I agree this could be a useful API in certain circumstances but seems not super common. I will put it in the backlog with lower priority than other issues for now (it would not be added until issue #16 that you raised is resolved anyway), and we may add it into the roadmap for future release. If you're in urgent need of this feature, we are

[2019-12-02 15:58] tailaiw commented on #13
@yy910616 I think you are right. I appreciate that you raised the problem. I'm gonna work on this and hopefully have it in the next release. Will keep you updated when a PR is ready to be reviewed.

[2019-12-03 17:02] tailaiw opened #17 "Warning/note in docstrings on NaN in results"
Some models (e.g. those including moving average operation) may return series with NaN on the two ends. We should add a warning or note in the docstrings (and hence docs) to highlight this.

[2019-12-03 19:33] tailaiw commented on #13
@yy910616 I just realize you proposed to work on the implementation. Sorry for missing it. You are definitely welcomed to join the contributors. I opened a WIP PR #18 for this issue.

[2019-12-03 22:20] yy910616 commented on #13
@tailaiw Awesome! I have pretty limited experience with open source but I'll definitely give it a shot.
Thanks for opening the PR, I've been doing some research on STL and I'll continue the discussion in the PR.

[2019-12-04 17:25] jason-hu7 opened #21 "Include code format information in README and documentation"
It would be helpful to include information regarding the style and format of the code:

- choice of formatter and code style
- choice of linter

[2019-12-04 21:54] tailaiw opened #22 "PcaAD in the example notebook of docs has wrong heading"
This is a quick fix. I will hold off fixing it till #19 gets merged, to avoid conflict on notebook.

[2019-12-10 02:21] tailaiw commented on #16
fixed by #19

[2019-12-10 02:21] #16 closed

[2019-12-10 02:22] tailaiw commented on #15
feature added by #19

[2019-12-10 02:22] #15 closed

[2019-12-10 22:06] tailaiw commented on #13
After discussion in #18, we decided to remove the wrong implementation of STL decomposition, and merge two implementations of classic decomposition into the adtk.transformer.ClassicSeasonalDecomposition. We decided to hold on implementation of a new STL decomposition until statsmodels' release with its first implementation of STL algorithm.

[2019-12-11 20:52] tailaiw commented on #22
fixed in #24

[2019-12-11 20:52] #22 closed

[2019-12-11 21:12] tailaiw opened #25 "Show different anomalies in subplots"
Currently, the plotting function only supports showing the same list of anomalies in all subplots, even if different curves are shown in different subplots. We want the feature of showing different lists of anomalies in different subplots.

[2019-12-12 22:07] szeitlin opened #27 "Allow detectors to work on a dataframe with 1 target and multiple passive columns"
Problem: I want to map back the labels found by an adtk detector onto my original dataframe. This works via a simple pd.merge as long as there's only one event at each timestamp, but I've got a use case where there are multiple events at a given timestamp, only some of which are anomalous, and then the labels don't make any sense.

Proposed solution: Could we make it easier to carry the unique eve

[2019-12-13 16:27] tailaiw commented on #27
@szeitlin Sorry I don't think I get your question quite well. But here are a few things that I guess may be relevant to what you asked.

1. All adtk detectors return binary pandas Series with the DateTime index as the input Series unless option `return_list` is turned True (by default it is False).

2. For univariate detectors (`ThresholdAD`, `QuantileAD`, `InterQuartileRangeAD`, `GeneralizedESDTe

[2019-12-13 20:53] tailaiw commented on #21
Resolved in #28

[2019-12-13 20:53] #21 closed

[2020-01-01 00:27] tailaiw opened #34 "Series name or dataframe columns of the output of split_train_test"
`split_train_test` returns a list of pandas Series or DataFrame objects with new series names or column names such as "train_0", "A_test_3", which may create difficulties for postprocessing. It would be better if the output is a dict object where keys are split id but series names and column names are kept unchanged.

[2020-01-01 00:29] tailaiw opened #35 "Default expand of `expand_events`"
Function `expand_events` does not have default expand values. It makes sense to make it 0, so that the API is easier to use for the case where only one side needs expansion.

[2020-01-01 00:33] tailaiw opened #36 "Support time delta as str in `expand_events`"
Function `expand_events` currently only support time delta as pandas.Timedelta object. It may be difficult to some users who are not advanced in pandas. It would be better if it supports str like "1d", "5min", etc.

[2020-01-02 21:19] tailaiw commented on #7
Done by #32

[2020-01-02 21:19] #7 closed

[2020-01-02 21:52] tailaiw opened #38 "Support time series in numpy array instead of pandas Series/DataFrame"
It would be convenient for some use cases if adtk may accept numpy array as input. A hidden assumption would be constant time step.

[2020-01-02 22:45] tailaiw commented on #36
Done in #39

[2020-01-02 22:45] #36 closed

[2020-01-02 22:45] tailaiw commented on #35
Done in #39

[2020-01-02 22:45] #35 closed

[2020-01-03 15:14] tailaiw opened #40 "Support binary series as input to `expand_events`"
Currently, `expand_events` only supports an event list as input. It could be helpful if it may also support binary series.

[2020-01-08 13:04] yy910616 opened #41 "Adding a third example to DoubleRollingAggregate that shows Spikes"
Hello,
The difference between PersistAD / LevelShiftAD, while explained in the documentation, could use a bit more clarification. This is just a personal opinion, please check if others feel the same if possible.
If I'm reading the doc and code correctly, both PersistAD / LevelShiftAD are implemented with DoubleRollingAggregate as transformers, but PersistAD has one window fixed to length of 1, wh

[2020-01-08 18:16] yy910616 opened #42 "Ways to Ignore Known Outliers"
Hello Arundo Team,
I'm wondering if you have any inputs on this question.
I've been using ADTK on some highly seasonal (freq=7) e-commerce data. Now, e-commerce is heavily influenced by holidays. As you can see in the picture attached, there are two large spikes around Thanksgiving and Christmas.

![adtk](https://user-images.githubusercontent.com/47798437/72003615-bf19d800-3217-11ea-8e3a-681f1eb35

[2020-01-08 22:00] tailaiw commented on #41
@yy910616 Thanks for the great suggestion. Please go ahead to open a PR.

[2020-01-08 22:33] tailaiw commented on #42
@yy910616 An immediate answer to me is to use GeneralizedESDTestAD instead of QuantileAD if you believe your seasonal decomposition residual should be normally distributed if no anomaly exists. Generalized ESD test iteratively removes outliers that cannot pass the hypothesis test, so if there were points that are anomalous but not so extreme as some others, it should also be detected after the ext

[2020-01-09 13:59] yy910616 commented on #42
Hi @tailaiw,
Thank you for the quick reply.
The GeneralizedESDTestAD is a great suggestion. I haven't looked into it much yet but based on what you're describing, I think we can definitely use it to solve some problems.

For our specific scenario, I actually managed to solve it with a simpler method. Basically I run the seasonal transform first, then replace the dates where I don't want to see wit

[2020-01-14 18:21] tailaiw commented on #41
Done by #43

[2020-01-14 18:21] #41 closed

[2020-01-14 18:22] #42 closed

[2020-01-29 09:55] anders-albert commented on #1
I am starting to look into this package. As far as I see you use the numpy documentation standard. Are you strict on this or is google style documentation working just as well? I understand that the sphinx extension sphinx.ext.napoleon works with both.

[2020-01-29 14:47] tailaiw commented on #1
@anders-albert yes we require numpy style in ADTK, but technically Google style works too. We just picked one that looks slightly better in our case.

[2020-01-30 17:48] tailaiw opened #59 "Numba option of pandas rolling objects in pandas v1.0"
An important new feature introduced by pandas v1.0 is the numba option in rolling objects. ADTK should consider taking advantage of it in the rolling transformer.

https://pandas.pydata.org/docs/user_guide/computation.html#stats-rolling-apply

[2020-02-04 11:27] ajdapretnar opened #60 "Question: unequally spaced timeseries"
First, big thanks for a nice library! Very useful!

I am trying to follow your Quick Start for SeasonalAD, but I am encountering a problem. My timeseries seem be to unequally spaced (e.g. 09:05, 09:15, 9:30, 9:55). Hence the SeasonalAD complains:
`RuntimeError: Series does not follow any known frequency (e.g. second, minute, hour, day, week, month, year, etc.`
How to overcome this?
I have tried ro

[2020-02-04 22:10] tailaiw commented on #60
@ajdapretnar  Seasonal decomposition in ADTK requires the input follows equally spaced time series, as you noticed. Therefore, the time series should be resampled with a constant frequency, for example 15 min.

If you got a ValueError regarding NaN values, the reason is that your resampling may introduce NaN value to the new time series (in your example, 9:45 will have NaN value). Currently, Seaso

[2020-02-05 07:46] ajdapretnar commented on #60
Thanks, this is useful! Will try it.

[2020-02-05 07:46] #60 closed

[2020-02-05 20:58] tellezsanti opened #61 "Deprecation from statsmodels"
You are using statsmodels 0.11, 'freq' is deprecated in the ClassicSeasonalDecomposition() function

![Screen Shot 2020-02-05 at 2 57 51 PM](https://user-images.githubusercontent.com/29239487/73882583-eddf9a00-4827-11ea-87dc-cbb0b1a7bade.png)

[2020-02-05 22:34] tailaiw commented on #61
Thanks for catching this. Apparently this is something new introduced by the 0.11 release of statsmodels. We will take care of it in the next release.

[2020-02-06 04:03] tailaiw commented on #13
@yy910616 i just noticed that statsmodels v0.11 has been released.

[2020-02-06 13:03] yy910616 commented on #13
Nice. I'm looking into this. Thanks for pointing it out.

[2020-02-10 16:22] Rendiere commented on #1
Does this issue still need help?

[2020-02-10 19:36] tailaiw commented on #1
I'm not sure if anyone is working on it. @jason-hu7 are you?

[2020-02-14 10:17] FGG100y opened #65 "RuntimeError: the model must be trained first"
First of all, thx for the great tool ^^

here's the code that produce this RuntimeError:

tmdl.py
--------
[code]

I wrote these functions to help me quickly doing some experiment with different detectors by changing the detector's name in the main() function. That's what I thought. --!

main.py
--------
...(functons read the data)

[code]
When ran this piece of code, it reported RuntimeError: the

[2020-02-14 16:55] tailaiw opened #66 "Deprecated API in pandas"
We observed some deprecation warnings from pandas v1.0. We should do a careful check to make sure ADTK is working with pandas v1.0+.

[2020-02-14 17:19] tailaiw commented on #65
@FGG100y That's strange. I ran the following code which I believe is equivalent to what you described above, and it didn't give me any error.

Which version of ADTK are you using?

[code]

[2020-02-17 01:51] FGG100y commented on #65
@tailaiw  Thank you for your reply. The adtk version: 0.5.2
I used the same syntheses data as yours, and it reported no error. So I believed it's something wrong with my data.
And this was how I deal with the data(preprocessing):
[code]
The split-train-test timeseries:
![ts_data_split_mode1](https://user-images.githubusercontent.com/34432871/74617763-c4990500-5169-11ea-835e-64ab83933ded.png)

Am I

[2020-02-17 01:58] FGG100y commented on #65
@tailaiw
And this was the data that I used in this case:
[ts_debug.txt](https://github.com/arundo/adtk/files/4211480/ts_debug.txt)

[2020-02-17 20:18] tailaiw commented on #65
@FGG100y
It looks the problem is related to the fact that your input is a Dataframe instead of a Series object. I will look into this. It is probably a bug. Thanks for catching this!

I noticed your data is univariate, so before we fixed the problem, what you can do is put your data in a Series instead of a single column DataFrame.

I replaced the synthetic data with your data (i.e. replacing the

[2020-02-18 02:53] FGG100y commented on #65
@tailaiw
Like your suggestions^^, and I have solved my problems.
Thanks a lot.

[2020-02-18 13:26] ajdapretnar opened #68 "Q: Seasonal Anomaly doesn't consider months"
Sorry to bother you again. I am experimenting with SeasonalAD() and it just looks like it cannot detect some obvious seasonal patterns. I have traffic data for 3 years, one measurement per hour. I tried different parameters (c=5, c=10, trend=True, freq=24 (day), freq=720 (month), freq=8760 (year)), but nothing seemed to help - every time I get anomalies for summer months when traffic increases due

[2020-02-18 20:46] tailaiw commented on #65
@FGG100y We dived into the problem you mentioned and found the problem is as follows:

ADTK contains univariate models and multivariate models. The models you were using are all univariate models. By design, if a univariate model is applied to a DataFrame, it treats each column of the DataFrame as an independent time series.

If a model is trained with a Series, and is applied to a DataFrame, ADTK

[2020-02-18 20:46] #65 closed

[2020-02-18 21:45] tailaiw commented on #68
@ajdapretnar Interesting... I'm not quite sure what the problem is. Did you try to freq=168, because I can see a weekly pattern from the plot?

SeasonalAD does not support multiple seasonal frequencies. But it is straightforward to create a pipeline to remove multiple seasonal patterns sequentially. For example, the following code removes the daily, weekly, and yearly patterns before run an inter-

[2020-02-18 21:50] tellezsanti commented on #1
I'll work on this, on the type-hints-santi branch

[2020-02-19 08:34] ajdapretnar commented on #68
Gotcha! So I repeat CSD for each seasonal trend. Neat! I initially though this happens internally: "Detector adtk.detector.SeasonalAD uses transformer adtk.transformer.ClassicSeasonalDecomposition to remove the seasonal pattern from the original time series."
But I suppose it doesn't work for multiple seasonal patterns. Thanks for the tip!

I am attaching the data. I have already done all the prep

[2020-02-21 16:55] tailaiw commented on #61
Fixed by #72

[2020-02-21 16:55] #61 closed

[2020-02-21 18:49] tailaiw commented on #66
Done by #73

[2020-02-21 18:49] #66 closed

[2020-02-22 22:23] engineeryashsaxena opened #75 "Does it returns an anomaly score ?"
Do the detectors of ADTK returns anomaly score ? If yes, then using which parameters I can get them ?

[2020-02-22 22:31] engineeryashsaxena commented on #75
@tailaiw Pls let me know

[2020-02-24 16:45] rpanai opened #76 "Add requirement.txt"
Hi, I'm trying to build a conda-forge package out of this library but I've some troubles. Do you mind to ad a requirements.txt as [this](https://github.com/facebook/prophet/blob/master/python/requirements.txt)?
If neede I can eventually make a PR.

[2020-02-24 17:23] tailaiw commented on #75
@engineeryashsaxena ADTK models have a `score` method for the model evaluation purpose, like the scikit-learn score method of estimators. But I assume you're asking about "score" that indicates the severity/probability of detected anomalies, right? If so, we do not have this functionality.

[2020-02-24 17:42] tailaiw commented on #76
@rpanai We didn't list a requirements.txt because we list all the dependencies in setup.cfg and that is enough for pip installation. I never made conda packages before but great to hear you are adding ADTK to conda-forge. Feel free to create a requirements.txt based on the dependency list in setup.cfg and open a PR.

[2020-02-26 15:08] #76 closed

[2020-03-03 15:49] chaizeg opened #81 "Plots don't show up"
Hi,
I can't seem to show the plots made by adtk.visualization, and I don't know why. Here's my code :
`
import pandas as pd
from adtk.detector import ThresholdAD
from adtk.data import validate_series
from adtk.visualization import plot

s = pd.read_csv('../STL/airline-passengers.csv', index_col="Month", parse_dates=True, squeeze=True)
s = validate_series(s)
threshold_ad = ThresholdAD(high=30, low=

[2020-03-03 17:01] tailaiw opened #82 "Regression model should check whether training and testing dataframe has same columns"
Currently, no error will be raised as long as the target column exists in the testing dataframe, and the number of columns is the same as training dataframe.

[2020-03-04 08:46] #81 closed

[2020-03-09 16:21] tailaiw commented on #1
Done by #79 #86

[2020-03-09 16:21] #1 closed

[2020-03-09 19:10] tailaiw commented on #82
Fixed in #89

[2020-03-09 19:10] #82 closed

[2020-03-09 21:25] tailaiw commented on #34
see #92

[2020-03-09 21:25] #34 closed

[2020-03-10 18:52] tailaiw commented on #25
done by #80

[2020-03-10 18:52] #25 closed

[2020-03-10 18:52] tailaiw commented on #40
Done by #94

[2020-03-10 18:52] #40 closed

[2020-03-14 19:43] engineeryashsaxena commented on #75
Thanks @tailaiw for the clarification

[2020-03-14 19:57] engineeryashsaxena opened #98 "Can it save combination of ADs as a model ?"
I take a time series and run the following algorithms from ADTK  on the series :
1. Seasonal AD
2. Persist AD
3. LevelShift AD

Now I combine the results where if there is any anomaly detected using any of the algorithm I term that instance ( day /hour ) as an anomaly . Now this task needs to be performed everyday , so that I can get the anomalies on the previous day.

Consider the following examp

[2020-03-14 19:57] engineeryashsaxena commented on #98
@tailaiw Pls let me know

[2020-03-20 03:59] abhimanyu3 commented on #60
My df is not having any null values but i am still getting this error when going to higher samples.
I have minute by minute data and when i am going above 7days i am getting this error. How many data points it can handle because when i am doing this for 10 days above its not givign any anomalies.

[2020-03-20 15:42] tailaiw commented on #98
Yes, you may save your model object by pickling it, something like the following

[code]

And when you need to reuse it,

[code]

[2020-03-20 15:47] #75 closed

[2020-03-24 03:08] abhimanyu3 opened #99 "Mutivariate anomalie detection."
Is there any possibility if we have 5 data points in a data frame(d1,d2,d3,d4,d5) and if any data point is an anomaly then which data point caused the anomaly and if we can assign some score like d5 was responsible 50% d3 is 30% etc.

Thanks!

[2020-03-26 18:53] tailaiw commented on #99
@abhimanyu3 If we assume a series is the reason for anomaly, then I would apply a univariate detector to each series independently.

A multivariate detector is for the case where the anomaly is due to the relationship between series changes. In that case, it's hard to say which series "causes" the anomaly because the anomaly is caused by those series jointly.

[2020-03-26 21:17] abhimanyu3 commented on #99
Thanks a lot for your response. I have to find sudden peaks and drops in my multivariate time series data so I am using the PersistAD method on the df. Shall I use it on each column or even if I am using it on df it's the same thing.

Also, where I can find details like what is C in the PersistAD so that I can take a holistic decision in tuning.

Do you recommend any other method for finding sudde

[2020-03-27 13:57] ivanokeeffe commented on #99
hi there, do either of you know where you can find the formulae used in the PersistAD? I haven't been able to find it in the code.
Thanks a million guys

[2020-03-27 14:03] ivanokeeffe opened #100 "Anomaly between two series"
Hi guys,
Not sure where else to ask this question, but does anybody know the best way to determine an anomaly between two series?
For example, if two thermometers are supposed to read the same data:
thermometer1 : [10 10 20 20 30 30]
thermometer2: [10 10 20 20 30 30]
But over time thermometer 2 becomes inaccurate:
thermometer1: [10 10 20 20 30 30]
thermometer2: [10 10 20 25 35 40]

Does anybody kn

[2020-03-27 16:05] ivanokeeffe commented on #100
@tailaiw  Hoping you might be able to help :)

[2020-03-28 23:19] djoshi5 opened #101 "Theoretical References and Citation"
Hello,
I am working on my thesis on anomaly detection on electric grid timeseries data. I am using ADTK as one of the method to detect outliers in the data. I wanted to know if it is possible to get some theoretical references on methods used for detectors, transformers, aggregators, pipeline and pipnet. I would also like to cite ADTK project but could not find any citations. It would be great to

[2020-03-29 12:30] ivanokeeffe commented on #101
Hey man,
I'm in the exact same situation, if you find any information on this let me know please!
Good luck in your thesis too bro :)

[2020-03-30 20:54] tailaiw commented on #101
Thank you for asking. Most methods in ADTK are pretty generic ones that are probably hard to find a source of publication. For ADTK itself, we are working on an arxiv preprint that users may refer to. I will update you here when it is published.

[2020-03-30 20:59] tailaiw commented on #99
@abhimanyu3 and @ivanokeeffe `PersistAD` is implemented as a pipeline of `DoubleRollingAggregate` transformer and `InterQuartileRangeAD` detector. You may refer to the `pipe_` attribute of a `PersistAD` object for more details.

The parameter `c` is the same one used by the internal `InterQuartileRangeAD` which controls the "normal range". `InterQuartileRangeAD` is a very classic simple outlier de

[2020-03-30 21:13] tailaiw commented on #100
I think [`RegressionAD`](https://arundo-adtk.readthedocs-hosted.com/en/stable/api/detectors.html#adtk.detector.RegressionAD) should work.

[2020-03-30 21:34] yangyu-1 commented on #101
Somewhat in a similar situation, I'll just contribute what I know.
For the [classical seasonal transformers](https://otexts.com/fpp2/classical-decomposition.html)
For the [interquartile range detector](https://en.wikipedia.org/wiki/Outlier#Tukey's_fences)

[2020-03-30 23:00] ivanokeeffe commented on #99
Thanks a million for replying to my question. Appreciate it greatly.

On Mon, 30 Mar 2020, 21:59 tailaiw, <notifications@github.com> wrote:

[2020-03-31 02:21] abhimanyu3 commented on #99
@ivanokeeffe  Hey! what kind of outlier you are trying to detect. Is it sudden peak and drops??

[2020-03-31 09:15] ivanokeeffe commented on #99
Yep exactly, just trying to detect sudden drops actually. The PersistAD
works perfectly but just trying to dig in to the maths behind it...

On Tue, 31 Mar 2020 at 03:21, Abhimanyu <notifications@github.com> wrote:

[2020-03-31 15:56] ivanokeeffe commented on #99
Does anyone know how to get the intermediate output for the PersistAD also?

[2020-04-01 14:49] tailaiw commented on #99
Running a pipe object (`adtk.pipeline` or `adtk.pipenet`) with option `return_intermediate=True` will return the results of all steps of the pipe, instead of only the last one.

As mentioned above, like many other models in ADTK, `PersistAD` is internally implemented as a pipe of transformers and detectors. Attribute `pipe_` is the internal pipe. So if we want the intermediate results, the easiest

[2020-04-03 13:36] abhimanyu3 commented on #99
@ivanokeeffe  Hey! Are you also applying seasonality check in this. I mean by editing the pipeline?

[2020-04-06 09:22] ivanokeeffe commented on #99
Thanks a million for replying to my questions. This has been super helpful!

On Wed, 1 Apr 2020 at 15:49, tailaiw <notifications@github.com> wrote:

[2020-04-06 09:22] ivanokeeffe commented on #99
Hey, not at the moment but I guess that is something I could be doing too.
Do you have any resources for explaining what seasonality is in time series?
Thanks

On Fri, 3 Apr 2020 at 14:36, Abhimanyu <notifications@github.com> wrote:

[2020-04-07 15:56] abhimanyu3 commented on #99
Give it a read :- https://www.quora.com/How-do-you-identify-seasonality-in-a-time-series-data

Let me know if you will be able to do it. @ivanokeeffe

Did you get the maths behind the persistAD?

[2020-04-22 11:25] ivanokeeffe opened #106 "Titles of graphs (solved!!) sorry!"
Hi,

Just wondering if there is any way to add a title and axis titles to the graphs produced by the plot function?
Thanks

[2020-04-27 02:40] #106 closed, assigned to nobody

[2020-05-07 11:22] Anaisdg opened #108 "What is c?"
Can you please explain what exactly is `c (float, optional) – Factor used to determine the bound of normal range based on historical interquartile range. Default: 3.0.` ?
And is it the same for all functions that use it?
Thank you.

[2020-05-08 00:15] tailaiw commented on #108
For detectors that are internally implemented as pipeline or pipenet, `c` is the parameter of the `InterquartileRangeAD` detector in the pipe. For details about how the parameter control `InterqaurtileRangeAD`, you may refer to its documentation.

[2020-05-08 13:59] Anaisdg commented on #108
Thank you!

[2020-05-08 13:59] #108 closed, assigned to nobody

[2020-05-22 22:24] vpiduri commented on #81
Hi @chaizeg How did you solve this issue. I have similar issue on mac, I can see AxesSubplot object printed on console but I don't see the plot

timestamp
2015-07-10 14:24:00     564
2015-07-10 14:38:00     730
2015-07-10 14:48:00     770
2015-07-10 15:03:00     910
2015-07-10 15:22:00    1035
                       ...
2015-09-17 16:34:00     385
2015-09-17 16:44:00     285
2015-09-17 16:50:00

[2020-07-06 05:37] jinxinglu opened #109 "is there any plan for next version of AD?"
AD is a wonderful tool for time series anomaly detection. There are so many new methods applied in time series AD, so the authors have some plans in the next version?

[2020-07-07 19:54] tailaiw commented on #109
@jinxinglu Thanks for the interest. We don't have an explicit roadmap for the next version as ADTK is more a community-driven project now. Besides some new models in the wanted list, I personally think #38 is the most "urgent" major feature to be added. Anyone may volunteer to take that will definitely be super welcomed :)

[2020-07-30 08:00] alextsakpinis opened #110 "Floating Anomaly Score for VolatilityShiftAD"
Hello,
I am using VolatilityShiftAD to detect anomalies in one variable. The result of calling the detect method for the VolatilityShiftAD can be nan, 0.0 or 1.0.

Is it possible to retrieve proper anomaly scores from the detector (e.g anomaly score of 0.5624543)? Could not find any solution for that.

Thanks for your help!

[2020-07-30 16:36] tailaiw commented on #110
The severity/confidence level of anomalies is not supported for now. Please see #75

[2020-08-01 16:08] MorpheusPoi opened #111 "adtk.visualization.plot can't work"
Hello,

I am new learner to ADTK and trying to run sample codes bellow:

import pandas as pd
from adtk.visualization import plot
from adtk.data import validate_series

df = pd.read_csv("E:/Codes/python/Book1.csv", index_col="TestTime", parse_dates=True, squeeze=True)
GP1_train = df["GP1"]
GP1_train = validate_series(GP1_train)
print(GP1_train)
plot(GP1_train)

I thought it will pop out a graph but

[2020-08-02 15:46] kahveci commented on #98
@tailaiw, when the return type of `fit(...)` function is `None`, how do you save/load it by pickling and then run `detect(...)`. Doesn't it return the following error? (I am referring to AutoregressionAD)

P.S. I appreciate that you discuss at [this link](https://github.com/arundo/adtk/pull/18#issuecomment-563362150) to some extend, but it is confusing having such function (fit) but not able to us

[2020-08-12 08:48] #110 closed, assigned to nobody

[2020-08-12 08:49] alextsakpinis commented on #101
Is there any update on that?

[2020-08-13 00:25] tailaiw commented on #111
Are your running this in jupyter notebook? If so, you may need `%matplotlib inline`.

[2020-08-13 00:26] tailaiw commented on #101
@alextsakpinis Unfortunately not. The main developers are all busy with other projects now.

[2020-08-13 00:52] MorpheusPoi commented on #111
Thanks for your help. I tried VS code and PyCharm and both failed to present a chart. Also I tried in other computer but still can't get a chart. Also I tried to use matplotlib to plot a chart and it can generate a chart as expect.

[2020-08-14 09:17] sbriseid commented on #111
I experienced the same issue, running from the terminal. I resolved it by adding a call to pyplot show after my adtk plots.
...
import matplotlib.pyplot as plt
...
plt.show()
...
I am new to adtk, not sure if this was an intended change. But I actually prefer to be able to decide when to show my plots :)

[2020-08-14 13:06] tailaiw commented on #111
@sbriseid That's exactly the design :) The plot function returns matplotlib figure and axes objects and users may decide when and how to show plots by themselves (e.g. `plt.show()` or `%matplotlib inline` in notebook)

[2020-08-18 03:56] MorpheusPoi commented on #111
@sbriseid your method works.
@tailaiw, @sbriseid, thanks very much for your help.

[2020-08-20 13:52] bigbprp opened #112 "ValueError: Time series must have a monotonic time index."
Code is as follows:
[code]
my data frame has multiple numeric ( float & int columns with date as index ).

and I am getting following error:
---------------------------------------------------------------------------
ValueError                                Traceback (most recent call last)
<ipython-input-112-cfc545b9ddd4> in <module>
      1 from adtk.transformer import ClassicSeasonalDecomposit

[2020-08-21 03:11] tailaiw commented on #112
For your input `s`, what does `s.index.is_monotonic` give you?

[2020-08-23 11:47] bigbprp commented on #112
I am getting false for s.index.is_monotonic.. not sure.. what am I missing... for details review below screen capture...

![image](https://user-images.githubusercontent.com/51390709/90977598-38c2c400-e564-11ea-80fb-9603556d9054.png)

[2020-08-24 02:23] tailaiw commented on #112
That means the Series index is not monotonic. You need to make sure your Series index is `DatetimeIndex` and it is monotonic. [`adtk.data.validate_series`](https://adtk.readthedocs.io/en/stable/api/data.html?highlight=validate_series#adtk.data.validate_series) may be helpful to you.

[2020-08-24 16:39] bigbprp commented on #112
Thank you for your inputs.. my date column has duplicate as it's without timestamp... I mean without hours or minutes or seconds...

As per business requirements that is a valid scenario... also anomaly detection is on monthly transaction basis so I am confused how to proceed... Any help is highly appreciated

[2020-08-25 05:02] bigbprp commented on #112
@tailaiw, thank you very much for guidance.. .I just created a new Data-frame with group-by on dates & started analyzing... appreciate your timely response... so taking a small break helped..

[2020-08-25 05:02] #112 closed, assigned to nobody

[2020-09-04 09:39] kusumy opened #113 "runtime error"
When running ClassicalDecomposition on the time series data (10 seconds interval), there is an error:

_RuntimeError: Series does not follow any known frequency (e.g. second, minute, hour, day, week, month, year, etc._

The time series data has DateTime index.

How to solve the error?

Regards

[2020-09-07 14:31] nbrosse opened #114 "Seasonal Decomposition for Multivariate time series"
I fit seasonal detector and transformer to a multivariate time series following the documentation.

https://adtk.readthedocs.io/en/stable/api/transformers.html#adtk.transformer.ClassicSeasonalDecomposition

https://adtk.readthedocs.io/en/stable/notebooks/demo.html#SeasonalAD

When I fit a pandas Dataframe with several columns (multivariate time series) to these detector/transformer, the seasonal_

[2020-09-07 20:42] tailaiw commented on #113
If your time series data following an exact 10 seconds spacing, ADTK should be able to identify it without a problem because it uses [`inferred_freq`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DatetimeIndex.inferred_freq.html) in Pandas. Could you check the value of `your_series.index.inferred_freq`?

[2020-09-08 19:41] tailaiw commented on #114
@nbrosse Right now there is no pretty way to do so. Maybe something in the future.

When a univariate model is applied to a multivariate series, what happens behind the scene is a list of models is initiated and each is assigned to a channel. You may access all models on the backend by `_models` attribute of your model. For each model in that list, I think you can get `seasonal_`. Let me know if t

[2020-09-09 06:40] nbrosse commented on #114
Thank you @tailaiw !
It works ! It would be maybe a nice feature to add in the future,
Thanks again :)

[2020-09-09 06:40] #114 closed, assigned to nobody

[2020-09-29 00:00] Pabloendres opened #115 "SeasonalAD fit_detect failing"
Hi! I'm working with monthly data from 2006 to 2019, and I wanted to work with SeasonalAD, but it fails with "ValueError: The time steps are not constant." even after validating the series.

### Code
[code]

### Output
[code]

### Checks

- Time series is a pandas Series.
- Index is a pandas DatetimeIndex and is monotonically increasing.
- No duplicated or missing timestamps.
- Index inferred freq

[2020-10-25 09:08] jiangjiangjiangjiangjiangjiangjiang opened #116 "the ReasonalAD has Misjudgment"
hey，i have a problem
then i use ReasonalAD to judge time-series data, he tell me error node(True) now.
but, ten mins later im run again
he tell me the node is right
im perplexed
so,   how to handle it?

[2020-10-26 19:58] numericOverflow opened #117 "Question: How to simulate a "NotAggregator" in pipenet?"
I've got data that I'd like to exclude from anomaly label if certain criteria are met (like a list of supervised labels for excluding incorrectly detected anomalies), regardless of the other detector results.  I thought I'd implement it as a separate detector in a pipenet, then aggregate the results.

This would allow me to override other detectors  with an aggregation, but can't come up with a wa

[2020-10-27 17:04] tibhar940 opened #118 "Non binary result for Anomaly detector"
Is there any easy way for returning non-binary result for anomaly detector?
For example how to make pipeline for QuantileAD(high=0.99, low=0.01) there results will be presented as {-1,0,1}?
I tried this way:
[code]
But I don't know how I can finalize `waprice_neg` and `waprice_pos`.
Thank you.

[2020-11-10 07:39] deepakvamsi opened #119 "Saving the Model"

[2020-11-10 07:41] #119 closed, assigned to nobody

[2020-11-10 07:43] deepakvamsi commented on #119
Found here  from collaborator  [#98 ](https://github.com/arundo/adtk/issues/98)

[2020-11-11 11:30] deepakvamsi commented on #113
@kusumy  try to change frequency  by changing  resample function

     df=df.dropna()    ###Drop  Nan rows
     print(df.index.inferred_freq)

check the print if pandas is detecting the sample you given or it will  give none  and try to resample  again..

[2020-11-13 19:20] sazzouz opened #120 "[question] Deployment approaches for ADTK"
Hi, I have a question about the deployment options I may have with ADTK. I hope it's suitable to ask here. I am enjoying the library a lot, although I'm quite new to this area admittedly. I'm looking to develop an anomaly detection pipeline for network monitoring data. I'd like to have this deployed in an 'online' way such that the model is capable of evolving as new data arrives. I know this is p

[2020-12-02 04:58] JeremyDanielCooper opened #121 "reference equation behind LevelShiftAD [question]"
I'd like to manually validate the equation for LevelShiftAD, does this exist in a friendly way somewhere?  Would be great to have this as a reference also for the other detector functions

[2020-12-24 01:39] zhj0513 commented on #60
try **s_train.resample('15min').ffill()** if adtk.data doesn't have resample

[2020-12-26 10:59] senemaktas opened #122 "Usage Date Format for ADTK"
Hi,

I have multivariate time series data set which I want to use for **binary classification** with it. My data set has more than **%90 -> 0** values, therefore I thought I can use ADTK. I am waiting output like **PersistAD**.

According to below data set part, the first column for "**time**". When I try to import my data set  like that ->  **s = pd.read_csv('./data/price_long.csv', index_col="Ti

[2020-12-26 13:41] tailaiw commented on #122
How did you convert the index? If you use something like `df.index = pd.to_datetime(df.index)`, it should treat your integer index as nanosecond from epoch time.

`adtk` currently only supports pandas object with datetime index, because some models (e.g. seasonality ones) require it. We already realized it is not necessary for many other models and is somehow inconvenient, so we have #38 open.

[2020-12-26 13:56] #116 closed, assigned to nobody

[2020-12-26 13:59] tailaiw commented on #118
I'm not sure I understand your need correctly, but seems you can use a CustomizedTransformer at final to "post-process" the binary output from the two detectors?

[2020-12-26 14:03] tailaiw commented on #117
"and" and "or" are operators applied to two input and returning one "aggregated" output. "not" is a 1-to-1 operator, which is a "transformer" in the context of `adtk` instead of an "aggregator". `CustomizedTransformer1D` should be able to do that.

[2020-12-26 14:12] tailaiw commented on #120
I'm not quite sure if I understand your question correctly. But ADTK is just like scikit-learn and I don't see a special deployment challenge.

You may need to think about how to apply ADTK for "real-time" inference, but that's more a usage question than a deployment question. Not sure if that's what you asked.

[2020-12-26 14:30] senemaktas commented on #122
Thank you very much for your response. Replace that **s['time_motion'] = pd.to_datetime(s['time_motion'], format='%Y-%m-%d')** -> this worked **s.time_motion = pd.to_datetime(s.time_motion)**  and i got this output ->

0         1970-01-01 00:00:00.000000000
1         1970-01-01 00:00:00.000000001
2         1970-01-01 00:00:00.000000002
3         1970-01-01 00:00:00.000000003
4         1970-01-01

[2020-12-28 10:54] tibhar940 commented on #118
@tailaiw  Could you please provide an example? My results from detectors:
waprice_pos = [0, 1, 1, 0, 0]
waprice_neg = [1, 0, 0, 1, 0]

final result should be generated with this logic - "if waprice_pos == 1 then  result = 1, if waprice_pos == 0 and waprice_neg == 0 then result = 0, if waprice_neg == 1 then result = -1"
result = [-1, 1, 1, -1, 0]

[2020-12-30 09:48] CharlyWargnier commented on #9
I couldn't find that file, thanks Rob for pointing that out! :)

[2021-03-11 15:26] mingzhao2019 opened #123 "Question about "spike" & "level shift" anomalies in adtk"
Hi,
       I am a researcher who major in anomaly detection in communication field, and I recently read the docs of your developed python library adtk, about spike and level shift anomalies at https://adtk.readthedocs.io/en/stable/userguide.html#spike-and-level-shift. I am sincerely interested in the ‘spike’ and ‘level shift’ anomalies, and I want to study them in a more academical manner, could y

[2021-03-31 18:03] sangyx opened #124 "result of ClassicSeasonalDecomposition is all Nan"
Hi, I used ClassicSeasonalDecomposition for my own dataset, while the result was all Nan. Could you help me to figure it out?
My code is:
[code]

The dataset I used is: [001_UCR_Anomaly_35000.txt](https://github.com/arundo/adtk/files/6238553/001_UCR_Anomaly_35000.txt)

[2021-04-07 07:55] joriws opened #125 "Pip installation fails due to missing openml model file.."
On my windows 10 Python3.9 environment (Python from MS Store if it makes any diff) I try to install

python.exe -m pip install adtk
......
Installing collected packages: scikit-learn, matplotlib, adtk
ERROR: Could not install packages due to an OSError: [Errno 2] No such file or directory: '...\LocalCache\\local-packages\\Python39\\site-packages\\sklearn\\datasets\\tests\\data\\openml\\292\\api-v1

[2021-04-07 08:42] joriws commented on #125
Ok, this is windows registry error. Found scikit-learn some tips and this also fixed this issue..

1. Type “regedit” in the Windows start menu to launch regedit.
2. Go to the Computer\HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Control\FileSystem key.
3. Edit the value of the LongPathsEnabled property of that key and set it to 1.

[2021-04-07 08:42] #125 closed, assigned to nobody

[2021-04-12 08:33] cashewnut opened #126 "How to set y-limit in adtk.visualization.plot"
Hi,
     In the follow case, the diff of each value is relatively small, but it looks large in the figure because of the beginning y axis. So how to set y-limit in plot()?
![image](https://user-images.githubusercontent.com/14501861/114365244-db3fbe00-9bac-11eb-9ad6-d671035bf376.png)

[2021-04-12 08:37] cashewnut commented on #126
![image](https://user-images.githubusercontent.com/14501861/114365703-4ab5ad80-9bad-11eb-9c8f-c012bf78d653.png)
![image](https://user-images.githubusercontent.com/14501861/114365745-5608d900-9bad-11eb-85d7-62591db839aa.png)

[2021-04-22 07:17] joriws opened #127 "Are fit_detectors thread-safe as seeing problem with returned anomalies"
I fetch multiple timeseries data to Pandas DataFrame and validate_data and feed it to Pca_AD. Single threading serial execution worked fine, but with converting to threads to parallel execution on 3 parallel threads I get random result with anomalies-returned and drive to to_event casts TypeError. Plotting data is normal graph pattern and anomaly=anomalies plots normally, but to_events does not "c

[2021-04-22 07:18] joriws commented on #127
**pip show adtk**
Name: adtk
Version: 0.6.2
Summary: A package for unsupervised time series anomaly detection
Home-page: https://github.com/arundo/adtk
Author: Arundo Analytics, Inc.
Author-email: None
License: Mozilla Public License 2.0 (MPL 2.0)
Location: c:\users\guest\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages
Requi

[2021-04-22 07:32] joriws commented on #127
Also tested with and no change of outcome:
[code]

[2021-05-18 21:49] jblocher commented on #115
I'm having the same issue. Perhaps you knew this already, but it seems that this check:
`if len(np.unique(np.diff(s.index))) > 1:`
ends up counting days even though the series has a monthly frequency. `df.index.is_monotonic` allows for the frequency so it sees an increment of 1 for each month, whereas the numpy approach results in an array of 28, 29, 30, and 31 days so the len() function is 4, whi

[2021-06-06 19:24] tysend commented on #9
It's also unclear what NAB file was used for testing.csv.

[2021-06-23 02:16] isunix opened #128 "How to save the figure for the plotting result?"
How to save the figure for the plotting result?

[2021-07-18 01:56] estcarisimo opened #129 "LevelShiftAD"
Hey folks,

I am trying to import LevelShiftAD but it seems there are some import problems within this module. This is what I get when I try to import it

[code]

I am running Python 3.6.9 on a virtual environment. Any clue of how I could fix it? I've already tried it by downgrading scipy to 1.2 and 1.3.

Thanks!

[2021-07-18 06:18] earthgecko commented on #129
Hi @estcarisimo

From one user to another.

This does not appear to be an issue with adtk because that import is not part of the current adtk.

There are is only one scipy import in the current v0.6.2, master and development branches, I have not checked older releases.
If your are running on an older release just try updating.

You can confirm that you can load adtk by running the following single

[2021-07-18 06:48] earthgecko commented on #128
Hi @isunix

From one user to another.
I wanted to do the same.

I have a fork with that single change that allows the plot to be save as an image:
https://github.com/earthgecko/adtk/commit/895c517927d8eebbd37db9a82f772285d6a9e68e

This change simply adds the save_to_file parameter to `plot` function in the _visualization.py.

    save_to_file: str, optional
        The full path and filename where

[2021-07-18 07:47] earthgecko commented on #127
Hi @joriws

From one user to another.  This is probably not a adtk issue.  Underlying pandas itself is not thread safe.
https://pandas.pydata.org/pandas-docs/stable/user_guide/gotchas.html#thread-safety

I hope this helps in the future.

[2021-07-18 21:57] estcarisimo commented on #129
Hi @earthgecko ,

Thanks for your quick reply.

I upgraded scipy and other packets depending on it and ADTK finally worked.

[2021-07-18 21:57] #129 closed, assigned to nobody

[2021-07-20 13:41] phaabe opened #131 "Question on LevelShiftAD"
I have created a simple example. ​

[code]

With  `d2` two anomalies are detected.
With `d1` no anomalies are detected.

Why?
Or maybe the question must be: What should I look at to understand? :)

Thanks

[2021-07-20 15:26] earthgecko commented on #131
Hi @phaabe

This is because the data set you are using is very small.

However if you just use data sets that are bit larger, you should see the results your were expecting to see.  Transformations and computations of this nature on very small samples may not always work as you expect them too.

You are using 14 values, try with 16 and you will see the result you were expecting.

[code]

![image](

[2021-07-21 08:49] phaabe commented on #131
Great, thanks

[2021-07-21 08:49] #131 closed, assigned to nobody

[2021-08-05 11:05] arthemis911222 opened #132 "VolatilityShiftAD can not detect negative anomaly."
I use VolatilityShiftAD and set 'side=both/positive/negative' to see how different about them, but the results of them are exactly same. VolatilityShiftAD can not detect the negative anomaly.

('seismic-new.csv': copy the nomaly data which from 'seismic.csv' to the end of file)

[code]

anomalies:
![VolatilityShiftAD-3](https://user-images.githubusercontent.com/24473327/128331177-0fd2d205-9687-49d

[2021-08-05 20:26] earthgecko commented on #132
Hi @arthemis911222

I do not understand how you created seismic-new.csv so I am just using the normal seismic.csv to explain why `side="negative"` does not detect anomalies.

The reason that it will not detect any anomalies when set to `side="negative"` is because internally the algorithms in use do not resolve any anomalies due to the nature of the data.

In this specific case `VolatilityShiftAD`

[2021-08-06 03:04] arthemis911222 commented on #132
Thanks for you answer，but I also have some question. @earthgecko

VolatilityShiftAD can detects the anomaly that the ‘std’ values of left sliding window and right sliding window have large different, no matter the time series is from ‘smoothly’(std value is small) to ‘roughly’(std value is big) or ‘roughly’ to ‘smoothly’, is that? Maybe like the LevelShiftAD.

In my realization, smoothly to roughl

[2021-08-06 08:21] earthgecko commented on #132
@arthemis911222 thanks for the description of how you created your data set, I have reproduced it and it is being in the following explanation.

The issue you are experiencing with your method is probably because your method is not calculating the diff in the same way the `DoubleRollingAggregate` does.  I suspect that your method is just calculating `diff`.

Step by step what the different diff me

[2021-08-06 09:16] arthemis911222 commented on #132
I get it!
Because the std value of left window at first anomaly is small while it at second anomaly is big. And they impact the result.
thanks a lot! @earthgecko

[2021-08-06 09:16] #132 closed, assigned to nobody

[2021-08-17 17:52] water-e opened #133 "Can anomalies from one detector be applied before series is passed to next detector/assembly?"
The existing examples all seem to envision serial transforms feeding into a single detector which are then logically connected.

I don't see any where a simple detector is used for a preliminary detection, values are screened and the most egregious anomalies deleted, then the next detector is used. Is this possible? It is a common pattern of work. For example, a Seasonal decomposition is more robu

[2021-08-17 21:57] earthgecko commented on #133
Hi @water-e

From one user to another.  You can do that using the adtk `Pipeline` `Pipe` object and using a`CustomizedTransformer1D` see https://adtk.readthedocs.io/en/stable/notebooks/demo.html#CustomizedTransformer and https://adtk.readthedocs.io/en/stable/notebooks/demo.html#Pipeline it is quite flexible and you can add whatever steps you like with `CustomizedTransformer1D` and `CustomizedDetec

[2021-08-17 23:00] water-e commented on #133
Thanks for the quick response. I misspoke about TransformAD. I meant the SeasonalAD has issues with NaN

[2021-08-17 23:22] water-e commented on #133
If this can be done with a pipeline, I'd still like to hear a sketch of how.

[2022-02-08 02:32] neural-vector-machine opened #134 "It looks like I found a bug in the `__doc__` of the class `DoubleRollingAggregate` in the module `Transformers`"
In the the `__doc__` of the class `DoubleRollingAggregate`  in the module `Transformers`, the annotation of pramater `center` is `If True, the current point is the **right** edge of right window; Otherwise, it is the right edge of **left** window.` originally.
Afater reading the code line by line, to the best of my knowledge, it should be `If True, the current point is the **left** edge of right w

[2022-02-10 06:00] #134 closed, assigned to nobody

[2022-02-26 21:27] matthewjfinn opened #135 "Where can I find information on how the detector algorithms are developed?"
label: question

Hello,

I am a data science student using the PCA and LOF detectors for a project and I want to gain a deep understanding of how the algorithms decide whether an anomaly exists or not. Is there information somewhere that describes what is really going on underneath the hood? Thank you very much for any help!

[2022-03-15 03:33] hmulagad opened #136 "[Question]:What is the output type of `anomalies` when I use Outlierdetector?"
Hello,

I am trying to using adtk to find outliers in my data. I used the below code.
`            outlier_detector = OutlierDetector(LocalOutlierFactor(contamination=0.05))
            anomalies = outlier_detector.fit_detect(df_anomaly)
            print(anomalies)
`
My output is type bool where I see something like this
log_time
2022-02-04 09:48:07    False
2022-02-06 16:16:19    False
2022-02-0

[2022-03-15 12:43] earthgecko commented on #136
Hi @hmulagad

The anomalies object is a `pandas.core.series.Series`

You can use the built-in adtk plot function to plot it:

[code]
Or you can convert it to a list and use the data in your own plot.

[code]
[code]
If you want their indices you can just enumerate the list or you can create a list with the datetime and values doing the list comprehension on

[code]

[2022-03-15 16:06] hmulagad commented on #136
Hello @earthgecko

Thank you very much! That is very helpful. I need to use my own plot. I will convert the list to dataframe since I am using Bokeh and to keep it consistent!

~Kishan

[2022-03-15 16:06] #136 closed, assigned to nobody

[2022-03-29 07:33] ZhongLIFR opened #137 "return anomaly scores"
Hi the team, thanks for your great work, is it possible to return a list of anomaly scores instead of  binary labels in the future version? As a researcher in anomaly detection, I'd like to say  anomaly scores are much useful than the binary labels.

[2022-04-21 10:06] julienjta opened #138 "Retrieve informations Pipeline [QUESTION]"
Hello,
I'd like to know if it was possible to retrieve the different parameters calculated by a pipeline?
For example my pipeline is composed by a ClassicSeasonalDecomposition transformer and an InterQuartileAD detector.
After fitting the model, I'd like to retrieve the pattern calculated and the value of abs_low_ and abs_high.
It seems that we can do it using the two models separately but not whe

[2022-06-10 08:12] taroyutao opened #139 "flowchart has problem"
import numpy as np
import pandas as pd
from adtk.data import validate_series
import matplotlib.pyplot as plt
from adtk.visualization import plot
from adtk.transformer import DoubleRollingAggregate
from adtk.detector import ThresholdAD, QuantileAD
from adtk.aggregator import AndAggregator

# 故障检测
from adtk.pipe import Pipenet

steps = {
    # 长窗口历史数据扫描，规避持续异常跳变
    "more_step_roll_aggr": {

[2022-07-13 02:44] taroyutao commented on #60
Removed adtk.data.resample because its functionality is highly overlapped with pandas resampler module

[2022-08-09 13:17] guidocioni opened #140 "Identify no change in time series"
Sometimes an anomaly could lie in the fact that the timeseries value is not changing at all, that is the previous value is exactly the same as the next one.

Is it possible to adapt the `PersistAD` detector to identify these points as anomalies?

I was looking into the underlying `Pipenet` implementation but unfortunately it seems that the only way to identify the anomaly is to find something exce

[2022-08-27 08:30] astrojuanlu commented on #109
I guess the project is now unmaintained? 😢

[2022-09-12 14:36] danendral commented on #140
Have you tried using `VolatilityShiftAD`?

It compares the volatility (e.g. standard deviation) between two rolling windows. You can also set if you want to detect positive or negative value change in the selected aggregation method.

In your case, you may set `side = "negative"` as you want to see the huge drop in volatility (right window volatility will be zero when there are constant values)

[2022-09-22 08:46] ZhongLIFR commented on #101
Same situations here, I'd like to cite ADTK in my conference paper

[2022-11-24 09:58] Geese-axb opened #141 "Quantile AD and Threshold based AD criteria"
First of all, thanks a lot for providing such an wonderful package.

I was using Quantile AD, and I thought it was marking all values above high quantile and lower quantile as outlier (like the one  threshold criteria would do, when appropriate quantile bounds are provided).

However it seems like the method is not working in such a way, as there are several outlier-regarded middle values between